@model PaperRound.Web.Models.Report
<div class="row">
    <div class="col-md-12">
        <h2>Upload</h2>
        @using (Html.BeginForm("UploadSpecification", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="file" name="specificationFile" />
            <input type="submit" value="Upload" />
        }
    </div>
</div>
@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <h2>Report</h2>
        </div>
        <div class="col-md-6">
            <h3>Summary</h3>
            <p style="color: @(@Model.Valid ? "green" : "red")">@Model.Message</p>
            @if (Model.Valid)
            {
                <span>Total number of houses: @Model.TotalHouses</span>
                <span>Total number on the left: @Model.LeftHouses</span>
                <span>Total number on the right: @Model.RightHouses</span>
            }
        </div>
        <div class="col-md-6">
            <h3>Delivery</h3>
            @if (Model.Valid)
            {
                <strong>Clockwise delivery plan</strong>
                <span> You will have to cross the road @Model.ClockwiseDeliveryMethod.CrossingRoadCount time@(@Model.ClockwiseDeliveryMethod.CrossingRoadCount > 1 ? "s" : "")</span>
                <p>You will want to order your papers as below:</p>
                <p>@string.Join(", ", Model.ClockwiseDeliveryMethod.DeliveryRoute)</p>
                <strong>Alternate delivery plan</strong>
                <span> You will have to cross the road @Model.AlternateDeliveryMethod.CrossingRoadCount time@(@Model.AlternateDeliveryMethod.CrossingRoadCount > 1 ? "s" : "")</span>
                <p>You will want to order your papers as below:</p>
                <p>@string.Join(", ", Model.AlternateDeliveryMethod.DeliveryRoute)</p>
            }
        </div>
    </div>
}